<a href="https://colab.research.google.com/github/BhavikPrajapati18/DS_PRAC/blob/main/Ques4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Consider a scenario where you have test scores from a sample of students
and you want to compare the mean of these scores with hypothesized
population mean.**
Student Score = [72, 88, 64, 74, 67, 79, 85, 75, 89,77]
**Apply One Sampled T-Test using Python/R for above problem. Assume
hypothesized mean as 70. Formulate Null and Alternative Hypothesis for
a given problem. Interpret the results and draw the conclusion.**

In [6]:
from scipy import stats

scores = [72, 88, 64, 74, 67, 79, 85, 75, 89, 77]

mu = 70

t_stat, p_value = stats.ttest_1samp(scores, mu)

print(f"T-Statistic: {t_stat:.4f}")
print(f"P-Value: {p_value:.4f}")

alpha = 0.05
if p_value < alpha:
    print("Reject Null Hypothesis: There is a significant difference from the population mean.")
else:
    print("Fail to Reject Null Hypothesis: No significant difference from the population mean.")

T-Statistic: 2.6250
P-Value: 0.0276
Reject Null Hypothesis: There is a significant difference from the population mean.

**Apply Feature Scaling technique like standardization and
normalization using Python/R to Boston Housing dataset.**

In [8]:
import pandas as pd
from sklearn.datasets import fetch_california_housing
from sklearn.preprocessing import StandardScaler, MinMaxScaler

housing = fetch_california_housing()
X = pd.DataFrame(housing.data, columns=housing.feature_names)

scaler_standard = StandardScaler()
X_standardized = scaler_standard.fit_transform(X)
df_standardized = pd.DataFrame(X_standardized, columns=housing.feature_names)

scaler_minmax = MinMaxScaler()
X_normalized = scaler_minmax.fit_transform(X)
df_normalized = pd.DataFrame(X_normalized, columns=housing.feature_names)

print("\n--- Standardized Data (Z-score) ---")
print(df_standardized.head())

print("\n--- Normalized Data (Min-Max) ---")
print(df_normalized.head())

--- Standardized Data (Z-score) ---
     MedInc  HouseAge  AveRooms  AveBedrms  Population  AveOccup  Latitude  \
0  2.344766  0.982143  0.628559  -0.153758   -0.974429 -0.049597  1.052548
1  2.332238 -0.607019  0.327041  -0.263336    0.861439 -0.092512  1.043185
2  1.782699  1.856182  1.155620  -0.049016   -0.820777 -0.025843  1.038503
3  0.932968  1.856182  0.156966  -0.049833   -0.766028 -0.050329  1.038503
4 -0.012881  1.856182  0.344711  -0.032906   -0.759847 -0.085616  1.038503

   Longitude
0  -1.327835
1  -1.322844
2  -1.332827
3  -1.337818
4  -1.337818

--- Normalized Data (Min-Max) ---
     MedInc  HouseAge  AveRooms  AveBedrms  Population  AveOccup  Latitude  \
0  0.539668  0.784314  0.043512   0.020469    0.008941  0.001499  0.567481
1  0.538027  0.392157  0.038224   0.018929    0.067210  0.001141  0.565356
2  0.466028  1.000000  0.052756   0.021940    0.013818  0.001698  0.564293
3  0.354699  1.000000  0.035241   0.021929    0.015555  0.001493  0.564293
4  0.230776  1.000000  0.038534   0.022166    0.015752  0.001198  0.564293

   Longitude
0   0.211155
1   0.212151
2   0.210159
3   0.209163
4   0.209163

# New section